node-red/flows.json
[
    {
        "id": "f82f08dd1e297e78",
        "type": "tab",
        "label": "AEGIS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b11585db400d1c5",
        "type": "ui_text",
        "z": "f82f08dd1e297e78",
        "group": "efe3c47feb59fb33",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 20,
        "wires": [],
        "info": "System Status"
    },
    {
        "id": "8b05497d287a0c54",
        "type": "ui_gauge",
        "z": "f82f08dd1e297e78",
        "name": "",
        "group": "efe3c47feb59fb33",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 100,
        "wires": [],
        "info": "Motor Temperature"
    },
    {
        "id": "f2d6bf6cd800706c",
        "type": "ui_chart",
        "z": "f82f08dd1e297e78",
        "name": "",
        "group": "efe3c47feb59fb33",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 260,
        "wires": [
            []
        ],
        "info": "Temperature History"
    },
    {
        "id": "9930117f67af7484",
        "type": "ui_button",
        "z": "f82f08dd1e297e78",
        "name": "",
        "group": "efe3c47feb59fb33",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 50,
        "y": 340,
        "wires": [
            [
                "42584e399a22192c"
            ]
        ]
    },
    {
        "id": "79b33eaa3c844e02",
        "type": "ui_switch",
        "z": "f82f08dd1e297e78",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "efe3c47feb59fb33",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 50,
        "y": 420,
        "wires": [
            [
                "d16d4e9fa7911c30"
            ]
        ]
    },
    {
        "id": "511cb9d0d0a8ab57",
        "type": "function",
        "z": "f82f08dd1e297e78",
        "name": "Telemetry extraction",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 180,
        "wires": [
            [
                "d8b8d6788fea3cc6",
                "7b11585db400d1c5",
                "8b05497d287a0c54",
                "f2d6bf6cd800706c",
                "6fa2f9604e91e1c9"
            ]
        ]
    },
    {
        "id": "d6f1927e2711d652",
        "type": "mqtt in",
        "z": "f82f08dd1e297e78",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 180,
        "wires": [
            [
                "511cb9d0d0a8ab57"
            ]
        ]
    },
    {
        "id": "d8b8d6788fea3cc6",
        "type": "ui_gauge",
        "z": "f82f08dd1e297e78",
        "name": "",
        "group": "efe3c47feb59fb33",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Current",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 180,
        "wires": [],
        "info": "Motor Current"
    },
    {
        "id": "6fa2f9604e91e1c9",
        "type": "ui_chart",
        "z": "f82f08dd1e297e78",
        "name": "",
        "group": "efe3c47feb59fb33",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Current History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 340,
        "wires": [
            []
        ],
        "info": "Current History"
    },
    {
        "id": "42584e399a22192c",
        "type": "mqtt out",
        "z": "f82f08dd1e297e78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "d16d4e9fa7911c30",
        "type": "mqtt out",
        "z": "f82f08dd1e297e78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 210,
        "y": 420,
        "wires": []
    },
    {
        "id": "efe3c47feb59fb33",
        "type": "ui_group",
        "name": "AEGIS",
        "tab": "9080eb97e5979c40",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9080eb97e5979c40",
        "type": "ui_tab",
        "name": "AEGIS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "206f6c25905c7aa7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]